#about {
    display: flex;
}

.content-banner {
    width: fit-content;
    align-items: center;
    text-align: center;
    margin-top: 10vh !important;
    margin-bottom: 10vh !important;
    border-radius: 50%;
    font-size: 2.5em;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

.content-section {
    width: 100%;
}

.content-block {
    width: 75vw;
    margin: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0.25rem;
    background-color: aliceblue;
    vertical-align: middle;
    border-radius: 2.5%;
}

.content-image {
    height: 25vh;
    display: block;
    aspect-ratio: 1/1;
    justify-self: center;
    margin: auto;
}

.content-image img {
    height: 100%;
    aspect-ratio: 1/1;
}

.content {
    display: block;
    padding-left: 0.5rem;
}

.github-image {
    width: 5vh;
    height: 5vh !important;
}
