/* For mobile */
@media only screen and (max-width: 480px) {
    .header-content {
        display: block;
    }

    .content-section {
        align-items: center;
        justify-content: center;
        display: block;
    }

    .content-block {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

/* For Desktop */
@media only screen and (min-width: 480px) {
    .content-block {
        display: flex;
    }

    .content-block:nth-child(even) {
        float: right;
    }

    .content-block:nth-child(odd) {
        float: left;
    }
}
