body {
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(skyblue, rgb(46, 121, 151));
}

h1 {
    font-size: 4vw;
    margin: 0%;
}

p {
    font-size: 1.25em;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header {
    width: 100vw;
    vertical-align: middle;
    background-color: skyblue;
    display: block;
}

.header-content {
    display: flex;
    flex-direction: row;
    background-color: rgba(155, 155, 155, 0.5);
    padding-bottom: 1em;
}

.header-content img {
    height: 50vh;
    border-radius: 50%;
    padding-left: 1em;
    padding-right: 1em;
    margin: auto;
}

.header-content p {
    text-align: left;
}

.header-text {
    display: block;
    text-align: center;
    margin: 1em;
}

.body {
    width: 100vw;
    height: auto;
}

.body-block {
    display: block;
    align-items: center;
    width: 100vw;
    min-height: 50vh;
}

.body-block h2 {
    padding: 1em;
    margin: auto;
}

#pre-main-filler {
    height: 30vh;
}

#landing {
    width: 100vw;
    height: 60vh;
    margin-bottom: 0%;
    padding-bottom: 0%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

#landing-content {
    margin: auto;
    margin-bottom: 0%;
    display: block;
}

#landing-content h1 {
    font-size: 7.5vw;
}

#bio {
    margin: 0%;
    min-height: 40%;
}

#interactive-bio {
    display: block;
    min-height: 25vh;
    background-color: lightblue;
}

#interactive-bio-text {
    padding: 0.5em;
    height: 100%;
    font-size: 1.5vw;
}

#about {
    float: left;
    min-height: 100px;
    background: skyblue;
}

#projects {
    float: right;
    min-height: 100px;
    background: linear-gradient(skyblue, rgb(36, 135, 176));
}

#projects h2 {
    background-color: rgba(155, 155, 155, 0.5);
}

#papers {
    text-align: left;
    float: left;
    min-height: 100 px;
    background: linear-gradient(rgb(36, 135, 176), rgb(46, 121, 151));
}

#papers h2 {
    background-color: rgba(155, 155, 155, 0.75);
}
