#page-nav {
    padding: 0%;
    margin: auto;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    display: flex;

    top: 0;
    position: sticky;
    transition: all 0.5s linear;
}

.page-nav-scrolled {
    background-color: rgba(122, 122, 122, 0.5);
}

.page-nav-scrolled nav {
    margin: 0.5em;
}

#page-nav-name {
    margin: auto;
    padding-right: 1em;
}

#page-nav nav {
    display: flex;
}

#page-nav a {
    width: 10em;
    background-color: white;
    margin: 0.25em;
    border-radius: 10%;
    text-decoration: none;
    color: inherit;
}
